@import "slider";
@import "vars";
@import "mixins";
@import "breadcrumb";

.full-description {
  .center {
    padding: 0;
  }

  &__wrapper {
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: relative;
    margin-top: -65px;
    @include flex-center;
  }

  &__box-txt {
    padding: 65px 0;
    max-width: 641px;
    width: 100%;
  }

  &__title {
    margin: 0 0 27px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-pink;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    &::after {
      content: "";
      position: absolute;
      width: 63px;
      height: 3px;
      bottom: -15px;
      left: 290px;
      background-color: $color-text-pink-2;
    }
  }

  &__subtitle {
    margin: 0 0 48px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__text {
    margin: 0 0 32px;
    text-align: center;
    color: #5e5e5e;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__price {
    margin: 0 0 65px;
    display: block;
    text-align: center;
    color: $color-text-pink-2;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__line {
    margin: 0 0 65px;
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
  }

  &__list {
    margin: 0 auto 48px;
    @include flex-between;
    max-width: 373px;
    width: 100%;
  }

  &__item {
    @include flex-center;

    span {
      @include flex-center;
    }
  }

  &__link {
    margin-right: 9px;
    text-transform: uppercase;
    color: #6f6e6e;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    @include flex-center;
    margin: 0 auto;
    padding: 11px 42px;
    border: 1px solid #ff6a6a;
    color: #f26376;
    background: transparent;
    font-family: "Lato";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: $color-text-pink;
    }

    svg {
      display: block;
    }
  }
}

.product {
  padding: 128px 0;
  &__list {
    @include flex-center;
    gap: 30px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .product {
    &__list {
      gap: 16px;
    }
  }
}
@media (max-width: 767px) {
  .full-description {
    &__box-txt {
      padding: 65px 25px;
    }
    &__title {
      &::after {
        left: 135px;
      }
    }

    &__line {
      margin: 0 auto 48px;
      max-width: 175px;
    }

    &__list {
      margin: 0 0 65px;
    }
  }

  .product {
    padding: 64px 0;
    &__list {
      gap: 16px;
    }
  }
}
