.slider {
  position: relative;
  max-width: 1600px;
  overflow: hidden;

  &-line {
    background-color: black;
    display: flex;
    align-items: center;
    transition: all 3s ease;
  }

  &-image {
    display: block;
    width: 100%;
  }

  &-prev {
    left: 0;

    span {
      transform: rotate(180deg);
    }
  }

  &-next {
    right: 0;
  }

  &-prev,
  &-next {
    cursor: pointer;
    top: 50%;
    border: none;
    position: absolute;
    background-color: #d8d8d8;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      width: 31px;
      height: 31px;
      background-image: url(../../img/product/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
